
$no_algos: 6;

.header
{
    background-color: rgb(59, 58, 58);
    color: white;
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
    padding: 0% 5%;
    .array-inputs
    {
        display: flex;
        grid-template-columns: 60% 40%;
        place-content: center;
        padding: 5% 0%;
        
        #a_size
        {
            padding: 5% 0%;
        }
        #a_speed
        {
            padding: 5% 0%;
        }
       
    }
    .header_right
    {
        display: flex;
        flex-direction: column;

        .nav-heading
        {
            display: inline-block;
            //text-align: center;
            font-size: xxx-large;
            padding: 3% 0%;
        }
        .algos
        {
            display: grid;
            
            }

            .butt_locked
            {
                background-color: transparent;
                cursor: pointer;
                &:hover
                {
                    background-color: transparent;
                    cursor: pointer;
                }
            }
            .butt_selected
            {
                background-color: white;
                color:green;
                &:hover
                {
                    background-color: white;
                    cursor: pointer;
                }
            }
            .butt_unselected
            {
                &:hover
                {
                    background-color: blue;
                    cursor: pointer;
                }
            }
        }
    }
}

#row
{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    #menu
    {
        padding: 20%;
    }
    #array_container
    {
        display: flex;
        width: 100%;
        height: 70vh;
    }
    #Info_Cont2
    {
        padding: 20%;
    }
}

.hide
{
    display: none;
}